*
{
    padding: 0;
    
    margin: 0;
    font-family:;
}
body
{
    background-image: url(background3.webp);
    background-size: cover;
}

.sign-in-box
{
    width: 25%;
    height: 500px;
    background-color: rgba(0,0,0,0.4);
    margin: 9% auto;
    text-align: center;
    padding: 10px;
    
}
.h2
{
    color: white;
    font-family: sans-serif;
}
input
{
    margin: 10px;
    padding: 10px;
    text-align: center;
    background: ;
    border:none;
    border-bottom: 2px solid blue;
    font-size:20px;
    color:cor al;
}
button
{
    padding: 10px;
    width:170px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer; 
    font-size: 20px;
}

p
{
    color: wheat;
    margin-top: 200px;
}

ul
{
    text-decoration: none;
}

.clear
{
    clear: both;
}
.nav-bar

{
    height: 100px;
    width: 100%;
    padding: 10px;
    margin: 5px;
}
a
{
    color:aquamarine;
}
.nav-bar a
{
    text-decoration: none;
    height: 150px;
    width: 50px;
    padding: 15px; 
    font-size: 20px;
    color: aquamarine  ;
    
    

}

.nav-bar ul li{
        float: left;
        list-style: none;
        text-decoration: none;


    margin: 5px;
    padding: 5px;
    font-size: 15px;
    font-weight: 15px;
    width: 70px;
    height: 20px;
    text-align: center;
    opacity: .8;
        
}

.nav1 ul li ul li
{
    text-align: left;
    display: none;
}
.nav1 ul li:hover ul li
{
    display: block;
    text-align: left;
    
}
























